<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Juego de numeros genial
        </title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <h1>
            Bienvenido al Juego de Números Genial!!!
        </h1>
        <h2>
            Estoy pensando en un número entre 1 y 100
        </h2>
        <div class="contenedor">
            <div class="espacio incorrecto">
                Número demasiado {{palabra}}
            </div>
            <h3>
                Escribe un número:
            </h3>
            <form action="/guess" method="POST">
                <input type="text" id="numeroAdivinado" name="numeroAdivinado" class="entrada"/>
                <button type="submit" class="boton adivinar">
                    Adivinar
                </button>
            </form>
        </div>
    </body>
</html>